.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px 0;
}

.card {
  margin: 0 3% !important;
  height: 350px;
}

.infected {
  border-top: 15px solid rgba(0, 0, 255, 0.5);
  
}

.recovered{
  border-top: 15px solid rgba(0, 255, 0, 0.5);
}

.deaths{
  border-top: 15px solid rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
